.answers{
  background: white;
  border-radius: 24px;
  font-size: 2rem;
  color: rgb(4, 4, 17);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
}


.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: white;
  
}

.bulletPoint{
  display: flex;
  justify-content: left;
}

.button{
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  border-radius: 24px;
  width: 100px;
  font-size: 2rem;

}


